@font-face {
  font-family: volkskrant;
  src: url('./fonts/Capitolium\ W01\ 2\ Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family:volkskrant;
}

body {
  background-image: url('images/universe.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-size: 1.5rem;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-image: url('images/universe.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.wegottatalk {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.9rem;
  color: rgb(123, 162, 206);
  width: 100%;
  height: 110px;
}

@media only screen and (max-width: 600px) {
  .wegottatalk {
    font-size: 4rem;
    justify-content: flex-start;
    height: 100px;
  }
}

@media only screen and (max-width: 490px) {
  .wegottatalk {
    font-size: 3rem;
    justify-content: flex-start;
    height: 90px;
  }

  .registerLogin {
    display: none;
  }
}

@media only screen and (max-width: 380px) {
  .wegottatalk {
    font-size: 2.8rem;
    justify-content: flex-start;
    height: 90px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

input,
textarea,
select {
  font-family: volkskrant;
  font-size: 1.2rem;
  margin-bottom: 1em;
  color: rgb(100, 140, 185);
  background-color: transparent;
  border-style: none;
  outline: none;
  border: 1px solid rgb(100, 140, 185);;
}

textarea {
  height: 200px;
}

select {
   height: 30px;
}

input {
  height: 30px;
  color: rgb(100, 140, 185);
  border-style: none;
  border-bottom: 1px solid rgb(100, 140, 185);
}

input[type=text]:focus {
  background-color: transparent;
  color: rgb(100, 140, 185);
}

.commentBox {
   position: relative;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(100, 140, 185);
}

.postcomment {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  background-color: transparent;
  border: 1px solid rgb(100, 140, 185);
  padding-left: 15px;
  border-radius: 5px;
}

.postcomment::placeholder {
  color: rgb(47, 83, 124);
  padding-top: 6px;
}

.registerHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: rgb(100, 140, 185);
  margin-top: 40px;
}

.registerBtn {
  height: 50px;
  margin-top: 30px;
  background-color: rgb(100, 140, 185);
  color: rgb(0, 6, 12);
  font-size: 1.2rem;
  font-family: volkskrant;
  outline: none;
  border-style: none;
  border: 1px solid rgb(100, 140, 185);
  cursor: pointer;
}

.registerLogin {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px 0 20px 0;
  padding: 13px 22px;
  font-size: 1rem;
  color: rgb(100, 140, 185);
  border-radius: 8px;
  border: 1px solid rgb(121, 150, 194);
  box-shadow: inset 0px 0px 8px rgb(132, 171, 216);
}

.loginRegister {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.login, .logout, .register {
  cursor: pointer;
  font-size: 1rem;
  font-family: volkskrant;
  color: rgb(100, 140, 185);
  text-decoration: none;
  outline: none;
  border-style: none;
  background-color:transparent;
}

.userProfileBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(100, 140, 185);
  margin-top: 20px;
}

.userProfileBox span {
  font-style: italic;
  font-size: 1.2rem;
  color: rgb(100, 140, 185);
}

.profile {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  margin-bottom: 10px;
}

.userProfile {
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid rgb(100, 140, 185);
  margin-bottom: 20px;
}

.profileAvatar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .welcome {
    display: none;
  }
    .registerLogin{
      justify-content: flex-end;
    }
    .loginRegister {
      width: 100%;
      justify-content: flex-end;
    }

    .register, .login {
      margin-right: 10px;
    }
}

h3 {
 color: rgb(152, 182, 216);
  margin-bottom: 10px;
}

.usersnames {
  margin-bottom: 20px;
  color: rgb(100, 140, 185);
}

.user {
  margin-bottom: 20px;
}

nav {
  display: flex;
  padding: 8px 22px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid rgb(121, 150, 194);
  box-shadow: inset 0px 0px 8px rgb(0, 8, 17);
  box-shadow: inset 0px 0px 8px rgb(132, 171, 216);
}

nav a {
  color: rgb(100, 140, 185);
  text-decoration: none;
  font-size: 1.2rem;
}


nav a:hover, nav a:focus {
  text-decoration: underline;
}

/* @media only screen and (max-width: 535px ){
     header {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: 240px;
     }
     .registerLogin{
       top: 240px;
     }

     .sayit {
        color: rgb(212, 0, 0);
     }
     nav {
         width: 100%;
         padding: .5rem 1rem;
     }
     nav ul {
       width: 100%;
       display: flex;
       justify-content: space-between;
     }

     nav ul li {
       height: 100%;
       font-size: 1.2rem;
       margin-right: 0rem;
       
     }

     .headerlink {
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
     }

} */

ol {
  color: rgb(50, 65, 80);
  font-size: 1.2rem;
}

.link {
  text-decoration: none;
  color: rgb(107, 147, 192);
  font-size: 1.2rem;
  padding-bottom: 20px;
}

.postTitle {
  margin-bottom: 15px;
  color: rgb(100, 140, 185);
}

.user {
  margin-top: 20px;
  color: rgb(100, 140, 185);
}

.user span{
  color: rgb(100, 140, 185);
}

.postTitle a{
  color: rgb(100, 140, 185);
}

article {
  margin-bottom: 0.5em;
  color: rgb(100, 140, 185);
  border: 1px solid  rgb(121, 150, 194);
  box-shadow: inset 0px 0px 8px rgb(132, 171, 216);
  border-radius: 10px;
  padding: 1em 1em .2em 1em;
 
}

h1 {
  font-size: 3.5rem;
}

label {
  color: rgb(100, 140, 185);
  font-size: 1.2rem;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 1rem;
  color: rgb(100, 140, 185);
}

p {
  color: rgb(100, 140, 185);
}


.addnewpost {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: rgb(100, 140, 185);
  margin-top: 40px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
 }

#postContent, #postAuthor, #postTitle {
  background-color:transparent;
  color: rgb(100, 140, 185);
}

option {
  background-color: transparent;
}

.postCredit a {
  margin-right: 0.5rem;
  color: rgb(100, 140, 185);
}

.postCredit {
  font-size: 1rem;
  color: rgb(100, 140, 185);
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin: 0.5em 0;
}

.postCreditSingle {
  font-size: 1rem;
  color: hwb(211 2% 85%);
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin: 1.5em 0;
}

.singlePostName {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: .8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(100, 140, 185);
}

.excerpt {
  font-style: italic;
  color: rgb(100, 140, 185);
}

.goback {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.goBackBtn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  background-color: rgb(100, 140, 185);
  border-radius: 40px;
  font-family: volkskrant;
  font-size: 1rem;
  box-shadow: inset 0px 0px 7px rgb(0, 7, 15);
  border: 1px solid black;
  cursor: pointer;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: rgb(160, 191, 226);
  font-family: 'Arial';
  font-size: 1rem;
  cursor: pointer;
}

.savepostbutton {
  height: 50px;
  background-color: rgb(100, 140, 185);
  color: rgb(0, 6, 12);
  font-size: 1.2rem;
  font-family: volkskrant;
  border-style: none;
  cursor: pointer;
}

.saveButton {
  height: 50px;
  margin-top: 20px;
  background-color: rgb(100, 140, 185);
  color: rgb(0, 6, 12);
  font-size: 1.2rem;
  font-family: volkskrant;
  outline: none;
  border-style: none;
  border: 1px solid rgb(100, 140, 185);
  cursor: pointer;
}

.deleteButton {
  height: 50px;
  margin-top: 20px;
  background-color: rgb(100, 140, 185);
  color: rgb(0, 6, 12);
  font-size: 1.2rem;
  font-family: volkskrant;
  outline: none;
  border-style: none;
  border: 1px solid rgb(100, 140, 185);
  cursor: pointer;
}


/* ------------------------ Overlay ------------------------- */
.overlay {
  position: fixed; 
  width: 100%;
  height: 100vh;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  background-color:rgba(1, 12, 22, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.overlayText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  width: 450px;
  border-radius: 10px;
  height: 150px;
  font-size: 1.2rem;
  color: rgb(100, 140, 185);
  background-color: rgb(6, 12, 19);
  border: 1px solid rgb(100, 138, 184);
  box-shadow: 0px 0px 48px rgb(116, 153, 196);
  margin: 20px;
  padding: 10px;
}

@media only screen and (max-width: 440px ){
   .overlayText {
        margin: 10px;
  }
}

@media only screen and (max-width: 380px ){
   .overlayText {
       font-size: 1.1rem;
      
  }
}

/* ------------------------------------------------------------ */

.notRegistered, .alReadyRegistered {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notRegisteredText, .alReadyRegisteredText {
  font-size: 1rem;
  color: rgb(87, 129, 177);
  text-decoration: none;
}

